<head>
	<meta charset="UTF-8">
	<title>Weather App</title>
	<base href='/'/>
	<link rel="stylesheet" type="type/css" href="/style.css"" >
</head>

<body class='<%= @weather.nil? ? "" :  @weather.downcase %>'>
<%= yield %>
</body>
